<section class="test">
    <h2 class="display-1 fw-bold pt-5 text-white text-center">Testymonials</h2>
    <div class="row d-flex flex-row justify-content-center align-items-center ">
        <div class="col col-md-5 col-10 m-4">
            <div class="card text-center d-flex flex-column justify-content-center align-items-center  p-3 ">
                <h4 class="color">Kathryn Murphy</h4>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                    the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
                    of type and scrambled</p>
                <div>
                    <ul class="d-flex flex-row justify-content-center align-items-center  ">
                        <li><i class="fa-solid fa-star text-warning "></i></li>
                        <li><i class="fa-solid fa-star text-warning"></i></li>
                        <li><i class="fa-solid fa-star text-warning"></i></li>
                        <li><i class="fa-solid fa-star text-warning"></i></li>
                        <li><i class="fa-solid fa-star text-warning"></i></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col col-md-5 col-10 m-4">
            <div class="card text-center d-flex flex-column justify-content-center align-items-center  p-3 ">
                <h4 class="color">Kathryn Murphy</h4>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                    the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
                    of type and scrambled</p>
                <div>
                    <ul class="d-flex flex-row justify-content-center align-items-center  ">
                        <li><i class="fa-solid fa-star text-warning "></i></li>
                        <li><i class="fa-solid fa-star text-warning"></i></li>
                        <li><i class="fa-solid fa-star text-warning"></i></li>
                        <li><i class="fa-solid fa-star text-warning"></i></li>
                        <li><i class="fa-solid fa-star text-warning"></i></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col col-md-5 col-10 m-4">
            <div class="card text-center d-flex flex-column justify-content-center align-items-center  p-3  ">
                <h4 class="color">Kathryn Murphy</h4>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                    the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
                    of type and scrambled</p>
                <div>
                    <ul class="d-flex flex-row justify-content-center align-items-center  ">
                        <li><i class="fa-solid fa-star text-warning "></i></li>
                        <li><i class="fa-solid fa-star text-warning"></i></li>
                        <li><i class="fa-solid fa-star text-warning"></i></li>
                        <li><i class="fa-solid fa-star text-warning"></i></li>
                        <li><i class="fa-solid fa-star text-warning"></i></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col col-md-5 col-10 m-4">
            <div class="card text-center d-flex flex-column justify-content-center align-items-center  p-3 ">
                <h4 class="color">Kathryn Murphy</h4>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                    the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
                    of type and scrambled</p>
                <div>
                    <ul class="d-flex flex-row justify-content-center align-items-center  ">
                        <li><i class="fa-solid fa-star text-warning "></i></li>
                        <li><i class="fa-solid fa-star text-warning"></i></li>
                        <li><i class="fa-solid fa-star text-warning"></i></li>
                        <li><i class="fa-solid fa-star text-warning"></i></li>
                        <li><i class="fa-solid fa-star text-warning"></i></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>