<section>
    <div class="row">
        <div
            class="col col-md-7 col-12 bg-color text-white p-5 d-flex flex-column justify-content-center align-items-md-start  align-items-start  ">
            <h2 class="display-1 fw-bold pt-5 ">About Us</h2>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                Lorem Ipsum
                has been the
                industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
                scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap
                into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the
                release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing
                software like Aldus PageMaker including versions of Lorem Ipsum.</p>
            <button class="btn btn-warning text-white rounded-4 px-4 d-block  ms-0  " routerLink="/Contact">Contact
                Us</button>
        </div>
        <div class="col col-md-5 col-12">
            <div>
                <img src="../../../assets/pic/c.png" alt="" class="w-100 p-3">
            </div>
        </div>

    </div>
</section>