<section>
    <div class="container-fluid  ">
        <div class="row bg-dark  text-white  py-3">
            <div class="col col-12 mt-2 d-flex flex-md-row  flex-column justify-content-center align-items-center  ">
                <div class="d-flex flex-row ">
                    <i class="fa-solid fa-envelope color mx-3"></i>
                    <p>upskilling.eg1@gmail.com</p>
                </div>
                <div class="d-flex flex-row ">
                    <i class="fa-solid fa-phone color mx-3"></i>
                    <p>+20 115 493 2137</p>
                </div>
            </div>
        </div>
    </div>
</section>