<section class="min-vh-100 ">
    <div class="row">
        <div class="col col-md-8 col-12">
            <div class="row bg-color">
                <div class="col py-3 text-white  ">
                    <h2 class="display-1 fw-bold py-5 ms-5 ">Tasty pastries</h2>
                    <p class="min-width ms-5">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                        Lorem Ipsum has been
                        the industry's standard dummy text ever since the</p>
                    <button class="btn btn-warning text-white rounded-4 px-4 d-block ms-5 mb-5" routerLink="/Work">see
                        more</button>
                </div>
            </div>
            <div class="row">
                <div class="col col-4 bg-img d-flex flex-column justify-content-end align-items-end ">
                    <ul class="my-4 color fs-2 ">
                        <li><a class="color" href="https://www.vk.com/" target="_blank"><i
                                    class="fa-brands fa-vk"></i></a>
                        </li>
                        <li><a class="color" href="https://www.facebook.com/" target="_blank"><i
                                    class="fa-brands fa-square-facebook"></i></a></li>
                        <li><a class="color" href="https://www.instagram.com/" target="_blank"><i
                                    class="fa-brands fa-square-instagram"></i></a></li>
                        <li><a class="color" href="https://www.twitter.com/" target="_blank"><i
                                    class="fa-brands fa-twitter"></i></a>
                        </li>
                    </ul>
                </div>
                <div class="col col-8 bg-color d-flex flex-row justify-content-start align-items-end text-white fs-3">
                    <p><span class="fw-bold ">Telephone:</span> +7 700 000 00 00</p>
                </div>
            </div>
        </div>
        <div class="col col-md-4 col-12 bg-img py-5 position-relative ">
            <div class=" imgbox  ">
                <img src="../../../assets/pic/0.png" alt="" class="w-100">
            </div>

        </div>
    </div>
</section>